@inherits LayoutComponentBase
@using Esfe.SysLogin.Data
@inject UsuarioSesion sessionState

<div class="page">
	@if (sessionState.IsLoggedIn)
	{
		<div class="sidebar">
			<NavMenu />
		</div>
	}
	

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
@code{
}